h1 
{
    color: green;
}
#br 
{
    border : 2px solid black;
    border:double ;
    border-radius: 10px;
    width: 250px;
    height:100;
    padding: 2px;
}
#border
{
    border: 2px solid black;
    height:750px;
    width:500px;
    border-radius: 20px;
}
#border img {
    border-radius: 30px;
}
#login button {
 
    width: 150px;
    height: 50px;
    color: green;
    border-radius: 30px;
    font-size: 30px;
    font-family: cursive;
    
}
#login {
    padding-top: 20px;
    padding-left: 30px;
    
}
#new {
    padding-top: 100px;
    
}
#new a{
    padding-top:80px;
    text-decoration: none;
}